.env
.venv
*.pyc
__pycache__
.vscode
myenv/
.hypothesis/
.pytest_cache/
*.egg-info/
dist/
logs/

# Frontend
node_modules/
frontEnd/node_modules/
frontEnd/dist/
frontEnd/.qodo/
ragworks_frontEnd/node_modules/
ragworks_frontEnd/dist/
ragworks_frontEnd/.qodo/

# System
.DS_Store
Thumbs.db